<div id="Cookies" class="win-message" aria-expanded='false'>
    <div class="content">
        <p>
           Utilizamos cookies propias y de terceros para mejorar tu accesibilidad, personalizar y analizar tu navegación. Al continuar navegando consideramos que aceptas su instalación. Puedes cambiar la configuración u obtener más información en nuestra <a href="./politica-de-cookies.html" rel="nofollow" target="_blank">política de cookies</a>
        </p>
    </div>
    <div class="controls">
        <button class="btn-ok" data-cookies-ok><span class="text">Aceptar</span></button>
    </div>
</div>