<footer id="Footer">
    <ul class="footer__language" role="menubar" aria-label="Seleccionar idioma">
        <li><a href="/eus" class="button-link __active">EUSKERA</a></li>
        <li><a href="/es" class="button-link">CASTELLANO</a></li>
    </ul>

    <div class="footer__logos" aria-label="Un proyecto de:">
        <svg viewBox="0 0 152 62" aria-label="Euskadi.eus">
            <use xlink:href="./assets/svg/svg.svg#logo-euskadi-eus"></use>
        </svg>
        <svg viewBox="0 0 86 62" aria-label="Ura">
            <use xlink:href="./assets/svg/svg.svg#logo-ura"></use>
        </svg>
        <svg viewBox="0 0 80 62" aria-label="Gobierno Vasco">
            <use xlink:href="./assets/svg/svg.svg#logo-gobierno-vasco"></use>
        </svg>
    </div>
</footer>

