<div id="Interface">
    <div id="MainInfo" class="main-info" aria-live="polite">
        <ul class="main-info__ul __ul" aria-label="Caracteristicas rio... ">
            <li>Longitud: 44,90 km</li>
            <li>Superficie de cuenca: 279 km²</li>
            <li>Caudal medio: 9,99 m³/s</li>
            <li aria-label="Número de fotos:">00025/15250</li>
        </ul>

        <div class="main-info__mapa" aria-hidden="true">
            <div class="holder">
                <svg class="__svg" viewBox="0 0 1000 1000">
                    <path class="deco __path0" vector-effect="non-scaling-stroke" d="" />
                    <path class="__path" vector-effect="non-scaling-stroke" d="" />
                    <path class="progress __pathHover" vector-effect="non-scaling-stroke" d="" />
                </svg>
            </div>
            <svg class="frame" viewBox="0 0 1000 1000">
                <path class="deco __frame0" vector-effect="non-scaling-stroke" d="M999,999H1V1h998V999z"/>
                <path class="__frame1" vector-effect="non-scaling-stroke" d="M999,999H1V1h998V999z"/>
            </svg>
        </div>

        <div class="main-info__localidad __location"></div>
    </div>

    <div class="main-scrollbar">

    </div>
</div>