<aside id="Sidemenu">
    <div class="bg __bg"></div>
    <span class="reserva__top __l"></span>
    <div class="content">
        <nav>
            <ul role="menubar">
                <li><a href="index.html" class="sidmenu__link --stroke">Descubre</a></li>
                <li><a href="degusta.html" class="sidmenu__link --stroke">Degusta</a></li>
                <li><a href="celebra.html" class="sidmenu__link --stroke">Eventos</a></li>
                <li><a href="nosotros.html" class="sidmenu__link --stroke">Nosotros</a></li>
                <li><a class="sidmenu__link --stroke" href="./assets/pdf/carta-cevitxef-2021.pdf" target="_blank">Carta</a></li>
                <li><button type="button" data-toggle-window="win-delivery" class="sidmenu__link">Pide<span class="--stroke">online</span></button></li>
            </ul>
        </nav>
    </div>
    <span class="reserva__bottom __l"></span>
</aside>