

<div id="Menu" class="win-menu" aria-expanded='true'>
    <div class="win-menu__filtros">
        <div class="holder">
            <div class="select-with-arrow --invert">
                <label for="filter-type" class="sr-only">Tipo de rio</label>
                <select id="filter-type" name="filter-type">
                    <option>Tipo de rio</option>
                    <option>Talavera talavera</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                </select>
            </div>
            <div class="select-with-arrow --invert">
                <label for="filter-city" class="sr-only">Localidad</label>
                <select id="filter-city" name="filter-city">
                    <option>Localidad</option>
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                </select>
            </div>
        </div>
    </div>

    <div class="win-menu__rivers">
        <div class="holder">
            <div class="win-menu__rivers__ul">
                <div class="title">Vizcaya</div>
                <ul class="__biz">

                </ul>
            </div>
            <div class="win-menu__rivers__ul">
                <div class="title">Guipuzcoa</div>
                <ul class="__gui">

                </ul>
            </div>
            <div class="win-menu__rivers__ul">
                <div class="title">Araba</div>
                <ul class="__ara">

                </ul>
            </div>
        </div>
    </div>
</div>