<div id="Intro" class="win-intro" aria-expanded='false'>
    <video autoplay
           muted
           loop
           playsinline
           webkit-playsinline
           preload="auto"
           src="https://player.vimeo.com/external/533900441.hd.mp4?s=9c68e411b277add6ca1c6924c0ceb30406c498ae&profile_id=175"></video>
    <link rel="transcript" title="English transcript" href="#video-intro-transcripcion">

    <div class="win-intro__content">
        <svg viewBox="0 0 900 240" aria-label="Ibaiak Logo">
            <use xlink:href="./assets/svg/svg.svg#logo-ibaiak"></use>
        </svg>

        <h1 class="title">Ibaiak es un mapa interactivo <br>a traves de los rios del Pais Vasco</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <div class="button-holder">
            <button>
                Entrar
            </button>
        </div>
    </div>
</div>