#Header {
  --color: var(--ibaiak-grey);
  --height-logo: #{(50px / 16px) * 1rem};
  --height-header: #{(60px / 16px) * 1rem};
  --padding-v: var(--padding-xs);
  --padding-h: var(--padding-s);

  color: var(--color);
}

#Header .title {
  position: fixed;
  @include z-index($z-index-header);
  top: calc(var(--padding-v) + (var(--height-header) - var(--height-logo)) / 2);
  left: var(--padding-h);
  height: var(--height-header);

  svg {
    height: 100%;
    width: auto;
    fill: var(--color);
  }
}

#Header .button-menu {
  position: fixed;
  @include z-index($z-index-tooglemenu);
  top: var(--padding-v);
  left: 50%;
  transform: translateX(-50%);
}

.header__years {
  position: fixed;
  @include z-index($z-index-header);
  top: var(--padding-v);
  right: var(--padding-h);
  height: var(--height-header);

  display: flex;
  align-items: center;

  @include font-sans(true);
  font-size: var(--font-size-small);
  line-height: 1;
  text-transform: uppercase;

  .select-with-arrow {
    --font-size: var(--font-size-small);
  }
}